{
	"extends": "./packages/lint-config-lib-scripts/index.js",
	"parser": "espree",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "script",
		"ecmaFeatures": {
			"impliedStrict": false
		}
	},
	"env": {
		"es6": true,
		"node": true,
		"browser": false
	},
	"rules": {
		"import/no-unresolved": 0,
		"import/no-commonjs": 0,
		"import/no-extraneous-dependencies": 0,
		"import/order": 0,
		"no-console": 0,
		"strict": [
			"error",
			"global"
		]
	}
}
